@media (max-device-width:1224px){
    body{
        margin-left: 16px;
        margin-right: 16px;
    }
    .reset-P{
        padding-right: 20px !important;
        margin-bottom: 8px !important;
        padding: 4px;
        height: 50px;
        border: 2px solid #EFEEF4;
        border-radius: 8px !important;
        width:  328px !important;
        
    }
    .password{
        width: 328px !important;
    }
}

.password{
    width: 415px;
    height: 50px;
   margin-bottom: 40px !important;
}
.reset-P{
    margin-top: 10px !important;
    margin-bottom: 30px !important;
    width: 415px;
    padding: 4px;
    height: 50px;
    border: 2px solid #EFEEF4;
    border-radius: 8px !important;

}